// Màu sắc
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;
$text-color: #212529;

// Nền
$background-color: #ffffff;

// Font
$font-family-base: 'Segoe UI', sans-serif;
$font-size-base: 16px;

// Spacing
$spacer: 1rem;
